<!--py does padding in the y direction (top and bottom), 
    mt-auto forces the footer to be at the bottom-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Twitter Clone</span>
        <hr>
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
    </div>
</footer>