<main class="d-flex flex-nowrap container">
    <h1 class="visually-hidden">Sidebars examples</h1>

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark sidebar" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Navigation</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    My Academics
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/coursehistory" class="link-light d-inline-flex text-decoration-none rounded">My
                                Course History</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">View/Request Plan
                                Change</a>
                        </li>
                        <li><a href="/viewgrades" class="link-light d-inline-flex text-decoration-none rounded">View My Grades</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">FERPA
                                Confidentiality</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">View My
                                Transcript</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">My Academic
                                Requirements</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Order Official
                                Transcript</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Enrollment
                                Verification Print</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">View My Transfer
                                Credit Report</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Manage My Classes
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">View My
                                Classes</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">View My Weekly
                                Schedule</a></li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Exam Schedule</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Schedule
                                Planner</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Shopping Cart</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Add a Class</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Swap Classes</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Drop Classes</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Enrollment
                                Appointment</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Submit Withdrawal
                                Request</a></li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Class Search</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Browse Course
                                Catalogs</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Texas Common
                                Course Numbers</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Bookstore</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Profile
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Personal
                                Details</a></li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Contact
                                Details</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Addresses</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Emergency
                                Contacts</a>
                        </li>
                        <li><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Ethnicity</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</main>