<% layout('layouts/boilerplate') %>

<h1>Search Results</h1>
<% for (let res of results) {%>
    <div class="card mb-3 w-50 offset-3 bg-dark">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h4 class="card-title text-light">
                        <%= res.name %>
                    </h4>
                    <div class="card-text">
                        <p><a href="/profile/<%= res._id %>">@<%= res.username %></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>