<% layout('layouts/boilerplate') %>

<h1>Looks like you're new here!</h1>
<h2>Try searching for someone you may know in the search box below.</h2>

<div>
    <% if (currentUser) { %>
    <form class="d-flex" role="search" action="/search" method="get">
      <input class="form-control me-2" type="search" placeholder="Search for users" aria-label="Search" id='userSearch' name="userSearch" minlength="3" required>
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <% } %>
    </div>